#!/bin/sh

_VDISK_COMMON_DIR=`dirname "$(readlink -f "$0")"`

# Sources
# ------------------
# Don't change the order. Some depend on the previous ones.
[[ ${_COLOR_Off} ]] || source "${_VDISK_COMMON_DIR}/.color.rc"
[[ ${_LOG_DIR} ]] || source "${_VDISK_COMMON_DIR}/.log.rc"
[[ ${_CHECKS_DIR} ]] || source "${_VDISK_COMMON_DIR}/.checks.rc"

## @fn: A drop-in replacement of busybox's `realpath`.
# Busybox's `realpath` fails in some cases, such as ImDisk's mount.
realpath() {
    if cd "$(dirname "$1")" 2>/dev/null; then
        echo "$(pwd -P)/$(basename "$1")"
    fi
}

# Setup Help
# ------------------
_HELP_VARIABLES=$(cat << _EOF_

VARIABLES:

${_LOG_HELP}
_EOF_
)

# Setup DiskPart
# ------------------
_DISKPART="${_VDISK_COMMON_DIR}/.diskpart.sh"
if [[ ! "$(diskpart /? | grep 'DiskPart')" ]]; then
    _log_error "'diskpart' is not runnable. Maybe you are not running as admin?"
    exit 1
fi
